<style>
    .navbar-intel.navbar-dark .navbar-brand {
        color: #cccccc;
    }
    .navbar-intel.navbar-dark .navbar-nav .nav-link {
        color: #acacac !important;
    }
    .navbar-intel.navbar-dark .navbar-brand:hover,
    .navbar-intel.navbar-dark .navbar-brand:focus {
        color: #ffffff !important;
    }
    .navbar-intel.navbar-dark .navbar-nav .nav-link:hover,
    .navbar-intel.navbar-dark .navbar-nav .nav-link:focus {
        color: #dddddd !important;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark navbar-intel" style="background-color: #005A9C;" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="/InsightfulVerse/">Insightful Verse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/InsightfulVerse/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/InsightfulVerse/Course">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="${session.user != null && session.user.getUserId() != null ? '/InsightfulVerse/Personal' : '/InsightfulVerse/Login'}">
                        <span th:text="${session.user != null && session.user.getUserId() != null ? session.user.getUsername() : 'Login'}">Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/InsightfulVerse/About">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
