<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.ravon.mapper.FileDao">

    <resultMap id="BaseResultMap" type="tech.ravon.model.inver.File">
            <id property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="type" column="file_type" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="remarks" column="file_remark" jdbcType="VARCHAR"/>
            <result property="uploadUser" column="upload_user" jdbcType="BIGINT"/>
            <result property="uploadDate" column="upload_date" jdbcType="DATE"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="FileVOResultMap" type="tech.ravon.vo.inver.FileVO" extends="BaseResultMap">
        <result property="isFavorite" column="is_favorite" jdbcType="INTEGER"/>
        <result property="favoriteTime" column="favorite_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        file_id,file_name,file_type,
        course_id,file_remark,upload_user,
        upload_date,file_path
    </sql>

    <select id="getAllFiles" resultMap="BaseResultMap">
        SELECT * FROM files
    </select>

    <select id="getFilesByPop" resultMap="BaseResultMap">
        SELECT f.*
        FROM files f
                 LEFT JOIN (
            SELECT
                file_id,
                SUM(view_count) AS total_sum
            FROM view_records
            GROUP BY file_id
        ) v_stat ON f.file_id = v_stat.file_id
        ORDER BY v_stat.total_sum DESC, f.file_id ASC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="getFileById" resultType="tech.ravon.model.inver.File" resultMap="BaseResultMap">
        SELECT * FROM files WHERE file_id = #{fileId} LIMIT 1
    </select>

    <select id="getFilesByCourse" resultType="tech.ravon.model.inver.File" resultMap="BaseResultMap">
        SELECT *
        FROM files
        WHERE course_id = #{courseId}
    </select>

    <select id="getFilesVOByCourse" resultMap="FileVOResultMap">
        SELECT
            f.file_id,
            f.file_name,
            f.file_type,
            f.course_id,
            f.file_remark,
            f.upload_user,
            f.upload_date,
            f.file_path,
            MAX(CASE WHEN col.user_id = #{userId} THEN 1 ELSE 0 END) AS is_favorite,
            MAX(CASE WHEN col.user_id = #{userId} THEN ci.create_at ELSE NULL END) AS favorite_time
        FROM
            inver.files f
                LEFT JOIN
            inver.collection_items ci ON f.file_id = ci.item_id AND ci.item_type = 'source'
                LEFT JOIN
            inver.collections col ON ci.collection_id = col.collection_id
        WHERE
            f.course_id = #{courseId}
        GROUP BY
            f.file_id, f.file_name, f.file_type, f.course_id, f.file_remark,
            f.upload_user, f.upload_date, f.file_path
        ORDER BY
            f.file_id ASC
    </select>

    <insert id="updFile" parameterType="map">
        <choose>
            <when test="file.fileId == null">
                INSERT INTO files (file_name, file_type, course_id, file_remark, upload_user, upload_date, file_path)
                VALUES (#{file.fileName}, #{file.type}, #{file.courseId}, #{file.remarks}, #{userId}, NOW(), #{file.filePath})
            </when>
            <otherwise>
                <choose>
                    <when test="file.filePath == null">
                        UPDATE files
                        SET file_name = #{file.fileName}, course_id = #{file.courseId}, file_remark = #{file.remarks},
                        upload_user = #{userId}, upload_date = NOW()
                        WHERE file_id = #{file.fileId}
                    </when>
                    <otherwise>
                        UPDATE files
                        SET file_name = #{file.fileName}, file_type = #{file.type}, course_id = #{file.courseId},
                        file_remark = #{file.remarks}, upload_user = #{userId}, upload_date = NOW(), file_path = #{file.filePath}
                        WHERE file_id = #{file.fileId}
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </insert>

    <delete id="deleteFile">
        DELETE FROM files WHERE file_id = #{fileId}
    </delete>

    <select id="getFileByName" resultType="tech.ravon.model.inver.File" resultMap="BaseResultMap">
        SELECT *
        FROM files
        WHERE file_name LIKE CONCAT('%', #{keyword}, '%')
           OR file_remark LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
