<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.eagloxis.mapper.StuAssignmentDao">

    <resultMap id="BaseResultMap" type="tech.eagloxis.model.iviep.StuAssignment">
            <id property="submissionId" column="submission_id" jdbcType="INTEGER"/>
            <result property="testId" column="test_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="submissionDate" column="submission_date" jdbcType="TIMESTAMP"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        submission_id,test_id,user_id,
        submission_date,grade
    </sql>
</mapper>
