<!DOCTYPE html>
<html>
<head>
  <title>Insightful Verse - Code Online Compiler</title>
  <th:block th:replace="~{common/sub/iviep/iviep-common.html}"></th:block>
  <th:block th:replace="~{common/sub/iviep/lib/run-java :: runjava}"></th:block>
</head>
<body style="background-color: #cce8cf;">
  <th:block th:replace="~{common/sub/iviep/iviep-header-green :: header}"></th:block>
  
  <div class="content" style="flex-direction: column; align-items: center; justify-content: center; margin-top: 2rem;">
    <div>
      <div class="form-floating mb-3">
        <textarea id="codeArea" class="form-control" th:text="${codeContent}"></textarea>
        <label for="codeArea">Java code</label>
      </div>
      <button id="runBtn" type="button" class="btn btn-secondary" onclick="runjava()">Run</button>
    </div>
    <div>
      <div class="form-floating mb-3">
        <div id="resultArea" class="form-control"></div>
        <label for="resultArea">Result</label>
      </div>
    </div>
  </div>

</body>
</html>
