<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insightful - Verify Permission</title>
    <th:block th:replace="~{common/sub/iviep/iviep-common.html}"></th:block>
    <th:block th:replace="~{common/sub/iviep/lib/verify-email :: vmail}"></th:block>
</head>
<body>
<th:block th:replace="~{common/sub/iviep/iviep-header :: header}"></th:block>
<div class="container my-4">
    <form class="form-group" th:action="@{/InsightfulVerse/VerifyPerm.do}" method="post">
        <h2 style="text-align: center;">Verify Permission</h2>
        <!-- 验证权限等级 -->
        <div th:if="${session.user.getAuthority() == 'infinite'}">
            <label for="captcha">Email Verify Code:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="captcha" name="captcha">
                <button type="button" class="btn btn-outline-secondary" id="getCode" onclick="GetCode()">Get Code</button>
            </div>
        </div>
        <input type="submit" class="btn btnn btn-primary" value="Verify">
    </form>
</div>

<div class="blank"></div>

<th:block th:replace="~{common/sub/iviep/iviep-footer :: footer}"></th:block>
</body>
</html>
